import { ReactNode, memo } from 'react';
import { deepEqual } from 'jordy';
import cn from 'clsx';

interface {{fileName}}Props {
  className?: string;
  children?: ReactNode;
}

function {{fileName}}Component({
  className,
  children,
}: {{fileName}}Props) {
  return (
    <div className={cn(className)}>
      {children}
    </div>
  );
};

/**
* @mixes React.memo
*/
export const {{fileName}} = memo(
  {{fileName}}Component,
  // deepEqual, // 필요하면 주석 해제하여 사용
  (prevProps, nextProps) => {
    return true;
});

{{fileName}}.displayName = '{{fileName}}';
