import { ReactNode, forwardRef, useImperativeHandle } from 'react';
import cn from 'clsx';

interface {{fileName}}Props {
  className?: string;
  children?: ReactNode;
}

export interface {{fileName}}Handle {
  someMethod(): void
}

export const {{fileName}} = forwardRef<
  {{fileName}}Handle,
  {{fileName}}Props
>(({
  className,
  children,
  ...props,
}, ref) => {

  useImperativeHandle(
    ref,
    () => ({
      someMethod() {
        
      },
    }),
    [],
  );

  return (
    <div className={cn(className)}>
      {children}
    </div>
  );
});

{{fileName}}.displayName = '{{fileName}}';
